@import "src/assets/scss/common.scss";

.search-bar {
  position: relative;
  .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.2rem;
    width: 1.8rem;
    height: 1.8rem;
  }
  input {
    background-color: $orange;
    padding: 1.3rem 1rem 1.1rem 4.1rem;
    border-radius: 1rem;
    min-width: 28rem;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
}
