/* COLORS */

$darkorange: #feb31c;
$orange: #feca61;
$darkblue: #2185a6;
$blue: #4d9db8;
$text-gray: #b8b8bb;
$text-gray: #fdfdfd;
$bgc-gray: #f2f2f3;
$dark-gray: #f4f4f4;
$black: #363640;
$menu-gray: #bddbe4;
$white: #fff;
$btn-orange: #fec655;
$dark-btn-orange: #c59b46;

/* /COLORS */

/* base styles */
html {
  height: 100vh;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

a,
button {
  transition: all 0.3s ease-in-out;
}
input {
  border: none;
}
/* /base styles */
