@import "src/assets/scss/common.scss";

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  background-color: $darkorange;
  .left-composition {
    display: flex;
    .header_button {
      margin: auto 4.5rem auto 2.5rem;
      .line {
        width: 2.1rem;
        height: 0.2rem;
        background-color: #242430;
        margin: 0.4rem 0;
      }
    }
    .user-list_info {
      display: flex;
      flex-direction: column;
      .user-list_title {
        font-weight: bold;
        font-size: 2.2rem;
      }
      .user-list_amount {
        font-size: 1.4rem;
      }
    }
  }
  .middle-composition {
    flex: 0 1 23%;
  }
  .right-composition {
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
    .header-button {
      margin-right: 3.1rem;
    }
    .user-list_filter {
      position: relative;
      select {
        border: none;
        background-color: transparent;
        font-size: 1.4rem;
        font-family: 'Montserrat', sans-serif;
        padding-right: 1.5rem;
        appearance: none;
        &:focus {
          outline: none;
        }
      }
      &:after {
        content: '';
        position: absolute;
        right: 0rem;
        top: 40%;
        transform: translateY(-40%) rotate(45deg);
        width: 0.6rem;
        height: 0.6rem;
        border: 2px solid #3e352e;
        border-top: none;
        border-left: none;
      }
    }
  }
}
