<div class="modal-main-container" [formGroup]="userInModal">
  <div class="modal">
    <div class="modal-header">
      <div class="user-info">
        <div class="user-name">123</div>
        <div class="user-id">unique ID - 123</div>
      </div>
      <div class="btn-close" (click)="onNoClick()"></div>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="modal-container w50">
          <label For="modalEmail">E-mail</label>
          <Input class="input-modal" id="modalEmail" placeholder="Email" type="email" formControlName="email" name="email">
        </div>
        <div class="modal-container w25">
          <label for="modalName">First name</label>
          <Input class="input-modal" id="modalName" placeholder="First Name" type="text" formControlName="firstName">
        </div>
        <div class="modal-container w25">
          <label for="modalLastName">Last name</label>
          <Input class="input-modal" id="modalLastName" placeholder="Last name" type="text" formControlName="lastName">
        </div>
      </div>
      <div class="container">
        <div class="modal-container w50">
          <label for="modalCountry">Country</label>
          <Input class="input-modal" id="modalCountry" placeholder="Country" type="text" formControlName="country">
        </div>
        <div class="modal-container w50">
          <label for="modalCompany">Company</label>
          <Input class="input-modal" id="modalCompany" placeholder="Company" type="text" formControlName="company">
        </div>
      </div>
      <div class="container">
        <div class="modal-container w25">
          <label for="type">Type</label>
          <Input class="input-modal" id="type" placeholder="Type" type="text" formControlName="type">
        </div>
        <div class="modal-container w25">
          <label for="level">Level</label>
          <Input class="input-modal" id="level" placeholder="Level" type="number" formControlName="level">
        </div>
        <div class="modal-container w25">
          <label for="validated">Validated</label>
          <Input class="input-modal" id="validated" placeholder="yes/no" type="date" formControlName="validated">
        </div>
        <div class="modal-container w25">
          <label for="coins">Coins</label>
          <Input class="input-modal" id="coins" placeholder="Coins" type="text" formControlName="coins">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="modal-container footer-info">
        <div>Subscription type - <span>123123</span></div>
        <div>Subscription date - <span>1233</span></div>
      </div>
      <div class="footer-buttons" mat-dialog-actions>
        <app-button class="mr" [values]="{class: 'btn-gray', value: 'reset password'}"></app-button>
        <app-button class="mr" [values]="{class: 'btn-gray', value: 'revoke access'}"></app-button>
        <app-button [values]="{class: 'btn-green', value: 'save'}"></app-button>
      </div>
    </div>
  </div>
</div>
