@import "src/assets/scss/common.scss";

.btn {
  padding: 1.1rem 1.4rem;
  border: none;
  &:focus {
    outline: none;
  }
}
.btn-filter {
  color: $btn-orange;
  background-color: $white;
  border: 1px solid $dark-btn-orange;
  border-radius: 0.5rem;
}
.btn-show-more {
  width: 100%;
  color: $btn-orange;
  text-transform: uppercase;
  border: 1px solid #e3e3e9;
  background-color: $white;
  padding: 2.2rem 0;
}
